@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* body */
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    box-sizing: border-box;
}

/* header */
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(#1b244999,#1b244999), url(/img/banner.png);
    background-position: center;
    background-size: cover;
}

/* hero-nav */
nav {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 3em 4.5em;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin: 0.5em 1em;
}

nav ul li a {
    text-decoration: none;
    color: #eee;
    cursor: pointer;
}

nav ul li a::after {
    content: '';
    height: 3px;
    width: 0%;
    background-color: #f44336 ;
    margin: auto;
    display: block;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
    transition: 0.5s;
}

/* hero-headline */
.headline {
    display: flex;
    min-height: 60vh;
    flex-direction: column;
    align-items: center;
}

.headline .text-box {
    margin: auto;
    text-align: center;
    color: #eee;
}

/* hero-button */
.headline .text-box a {
    display: inline-block;
    margin-top: 16px;
    border: 1px solid white;
    padding: 16px 34px;
    text-decoration: none;
    color: white;
    background-color: transparent;
    transition: 0.25s;
}

.text-box a:hover{
    background-color: #f44336;
    transition: ease-in-out 0.25s;

}

.text-box h1 {
    font-size: 64px;
    margin-bottom: 10px;
}

.text-box p {
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 36px;
}

/* course */




