@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body */
body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

/* header */
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(#1b244999,#1b244999), url(/img/banner.webp);
    background-position: center;
    background-size: cover;
}

/* hero-nav */
nav {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 3em 2em;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin: 0.5em 1em;
}

nav ul li a {
    text-decoration: none;
    color: #eee;
    cursor: pointer;
}

nav ul li a::after {
    content: '';
    height: 3px;
    width: 0%;
    background-color: #f44336 ;
    margin: auto;
    display: block;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
    transition: 0.5s;
}

/* hero-headline */
.headline {
    display: flex;
    min-height: 60vh;
    flex-direction: column;
    align-items: center;
}

.headline .text-box {
    margin: auto;
    text-align: center;
    color: #eee;
}

/* hero-button */
.hero-btn {
    display: inline-block;
    margin-top: 16px;
    border: 1px solid white;
    padding: 16px 34px;
    text-decoration: none;
    color: white;
    background-color: transparent;
    transition: 0.25s;
}

.hero-btn:hover{
    background-color: #f44336;
    transition: ease-in-out 0.25s;
}

.text-box h1 {
    font-size: 64px;
    margin-bottom: 10px;
}

.text-box p {
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 36px;
}

/* course */
.course {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
    box-sizing: border-box;
}

.course-header {
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 0 1em;
}

.course-description {
    font-weight: 200;
    font-size: 18px;
    margin-bottom: 40px;
}

.course-wrapper-row {
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
}

.course-column {
    box-sizing: border-box;
    background-color: #fff3f3;
    border-radius: 1em;
    padding: 24px 40px;
    flex-basis: 31%;
    transition: 250ms;
    cursor: pointer;
}


.course-column h3 {
    font-size: 28px;
    font-weight: 600;
    margin: 0.5em 0;
}

.course-column:hover{
    width: 125%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 28px;
    transition: ease-in-out 250ms;
    transform: scale(1.05);
}

/* campus section */

.campus {
    width: 80%;
    padding-top: 100px;
    margin: auto;
    text-align: center;
}

.campus-wrapper-row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.campus-column {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 40px;
    position: relative;
    overflow: hidden;
}

.campus-column img {
    width: 100%;
    display: block;
}

/* Image overlay hover effect */

.overlay {
    background: #f44336;
    position:absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 250ms ;
    opacity: 0;
}

.overlay:hover{
    opacity: 0.9;
    transition: ease-in-out 250ms;
}

.overlay .text {
    color: #eee;
    font-weight: 400;
    font-size: 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    opacity: 1;
}

/* our facilities */
.facilities {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.facilities-wrapper-row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.facilities-column {
    flex-basis: 31%;
    margin-bottom: 50px;
    text-align: left;
}

.facilities-column img {
    width: 100%;
    border-radius: 24px;
}

.facilities-column h3 {
    font-size: 28px;
    font-weight: 600;
    transition: 250ms;
    margin-bottom: 12px;
    cursor: default;
}

.facilities-column p {
    font-size: 16px;
    font-weight: 300;
}

.facilities-column h3:hover{
    font-size: 32px;
    color: #f44336;
    transition: ease-in-out 250ms;
}

/* our reviews */
.reviews {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top:100px;
}

.reviews-wrapper-row {
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 5%;
}

.reviews-column {
    flex-basis: 45%;
    margin-bottom: 2%;
    display: flex;
    text-align: left;
    padding: 24px;
    background-color: #fff3f3;
    border-radius: 2em;
    align-items: center;
}

.reviews-column img {
    width: auto;
    height: 64px;
    border-radius: 50%;
    margin: 12px 24px
}

.reviews-column h3{
    margin: 0;
    font-size: 20px;
    text-align: left;
    padding-left: 16px;
}

.reviews-column p {
    box-sizing: border-box;
    margin: 0 16px;
    font-weight: 100;
}

.user-review{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 16px 0 0;
}

.rating {
    padding: 0 0 0 16px;
    color: #f44336;
}

.user-review .occupation {
    font-weight: 100;
    font-size: 12px;
}

/* ----- call to action ---- */

.cta {
    margin: 100px auto;
    text-align: center;
    width: 80%;
    background-image: linear-gradient(#1b244999,#1b244999), url(/img/banner2.webp);
    background-position: center;
    background-size: cover;
    padding: 40px 0;
    border-radius: 1em;
}

.cta-header {
    display: block;
    color: #eee;
    margin-bottom: 40px;
    font-size: 42px;

}

/* ---footer---- */

.footer {
    margin: auto;
    width: 100%;
    text-align: center;
    background-color: #f44336e6;
    min-height: auto;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer img {
    margin: 0.625em 0
}

.footer .nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 24px;
}

.footer .nav a {
    text-decoration: none;
    color: #eee;
}

.footer h2 {
    color: #eee;
    font-size: 14px;
    font-weight: 200;
}

.footer .social-icons {
    font-size: 1.25em;
    color: #eee;
    display: flex;
    gap: 0.625em;
    margin: 1em 0;
    cursor: pointer;
}












